<!--<div class="pricing-container">-->
<!--  <div class="pricing-plan">-->
<!--    <h2>Free</h2>-->
<!--    <p>14 days</p>-->
<!--    <ul>-->
<!--      <li>✓ 100 credits</li>-->
<!--      <li>✓ 1 user</li>-->
<!--      <li>✓ 1 agent</li>-->
<!--      <li>✓ 10MB of Knowledge</li>-->
<!--    </ul>-->
<!--    <button mat-raised-button color="primary">Try now</button>-->
<!--  </div>-->
<!--  <div class="pricing-plan">-->
<!--    <h2>Pro</h2>-->
<!--    <p>29 TND/month</p>-->
<!--    <ul>-->
<!--      <li>✓ 20,000 credits/month</li>-->
<!--      <li>✓ 1 user</li>-->
<!--      <li>✓ 1 agent</li>-->
<!--      <li>✓ 3 tools</li>-->
<!--      <li>✓ 100MB of Knowledge</li>-->
<!--      <li>✓ Live-chat support</li>-->
<!--    </ul>-->
<!--    <button mat-raised-button color="primary">Try now</button>-->
<!--  </div>-->
<!--  <div class="pricing-plan">-->
<!--    <h2>Team</h2>-->
<!--    <p>199 TND/month</p>-->
<!--    <ul>-->
<!--      <li>✓ 100,000 credits/month</li>-->
<!--      <li>✓ 10 users</li>-->
<!--      <li>✓ 5 Agents</li>-->
<!--      <li>✓ Unlimited tools</li>-->
<!--      <li>✓ Schedule tasks</li>-->
<!--      <li>✓ 1GB of Knowledge</li>-->
<!--      <li>✓ Premium Integrations (Messenger, WhatsApp, etc.)</li>-->
<!--    </ul>-->
<!--    <button mat-raised-button color="primary">Try now</button>-->
<!--  </div>-->
<!--  <div class="pricing-plan">-->
<!--    <h2>Business</h2>-->
<!--    <p>499 TND/month</p>-->
<!--    <ul>-->
<!--      <li>✓ 300,000 credits/month</li>-->
<!--      <li>✓ Unlimited users</li>-->
<!--      <li>✓ Multi agent system</li>-->
<!--      <li>✓ Unlimited tools</li>-->
<!--      <li>✓ Schedule tasks</li>-->
<!--      <li>✓ 5GB of Knowledge</li>-->
<!--      <li>✓ Premium Integrations (Messenger, WhatsApp, etc.)</li>-->
<!--      <li>✓ Voice agent</li>-->
<!--    </ul>-->
<!--    <button mat-raised-button color="primary">Try now</button>-->
<!--  </div>-->
<!--</div>-->


<section class="section pt-5 pb-5" id="pricing-plans">
  <div class="top"></div>
  <div class="container">


    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2>Pricing <span>Plan</span></h2>
          <h4>List of our pricing packages</h4>
        </div>
      </div>
    </div>



    <div class="row">
      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">FREE</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="price">14</span>
              <span class="period">days</span>
            </div>
            <ul class="list">
              <li class="active">100 credits</li>
                    <li class="active"> 1 user</li>
                    <li class="active"> 1 agent</li>
                    <li class="active"> 10MB of Knowledge</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item active">
          <div class="pricing-header">
            <h3 class="pricing-title">PRO</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">29</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
                    <li class="active"> 20,000 credits/month</li>
                    <li class="active"> 1 user</li>
                    <li class="active"> 1 agent</li>
                    <li class="active"> 3 tools</li>
                    <li class="active"> 100MB of Knowledge</li>
                    <li class="active"> Live-chat support</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">TEAM</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">199</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
              <li class="active">100,000 credits/month</li>
              <li class="active"> 10 users</li>
              <li class="active"> 5 Agents</li>
              <li class="active"> Unlimited tools</li>
              <li class="active"> Schedule tasks</li>
              <li class="active"> 1GB of Knowledge</li>
              <li class="active"> Premium Integrations (Messenger, WhatsApp, etc.)</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->


      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">BUSINESS</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">499</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
                    <li class="active"> 300,000 credits/month</li>
                    <li class="active"> Unlimited users</li>
                    <li class="active"> Multi agent system</li>
                    <li class="active"> Unlimited tools</li>
                    <li class="active"> Schedule tasks</li>
                    <li class="active"> 5GB of Knowledge</li>
                    <li class="active"> Premium Integrations (Messenger, WhatsApp, etc.)</li>
                    <li class="active"> Voice agent</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->
    </div>
  </div>
</section>
